<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.m2m.atl.engine.vm"
   name="ATL VM Plug-in"
   version="2.0.0"
   provider-name="Eclipse.org"
   class="org.eclipse.m2m.atl.engine.vm.ATLVMPlugin">

   <runtime>
      <library name="org.eclipse.m2m.atl.engine.vm.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>

</plugin>
