<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.atl.core.launcher">
      <launcher
            class="org.eclipse.m2m.atl.profiler.vm.ProfilerLauncher"
            mode="run"
            name="Regular VM Profiler"
            parent="Regular VM">
      </launcher>
   </extension>

</plugin>
