/ATLtoEMFTVM-match.trace
/ATLtoEMFTVM-noinline-match.trace
/ATLtoEMFTVM-noinline-problems.xmi
/ATLtoEMFTVM-noinline.emftvm
/ATLtoEMFTVM-noinline.emftvm.xmi
/ATLtoEMFTVM-noinline.trace
/ATLtoEMFTVM.emftvm
/ATLtoEMFTVM.emftvm.xmi
/ATLtoEMFTVM.trace
/ATLWFR.emftvm
/ATLWFR.emftvm.xmi
/EMFTVMCopy.emftvm
/EMFTVMCopy.emftvm.xmi
/InlineCodeblocks.emftvm
/InlineCodeblocks.emftvm.xmi
/OCLtoEMFTVM-match.trace
/OCLtoEMFTVM-noinline-match.trace
/OCLtoEMFTVM-noinline-problems.xmi
/OCLtoEMFTVM-noinline.emftvm
/OCLtoEMFTVM-noinline.emftvm.xmi
/OCLtoEMFTVM-noinline.trace
/OCLtoEMFTVM.emftvm
/OCLtoEMFTVM.emftvm.xmi
/OCLtoEMFTVM.trace
