<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="atlBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.m2m.atl.debug.core.atlBreakpointMarker"
            class="org.eclipse.m2m.atl.debug.core.AtlBreakpoint"
            id="atlBreakpoint">
      </breakpoint>
   </extension>
	<extension point="org.eclipse.debug.core.watchExpressionDelegates">
		<watchExpressionDelegate
			debugModel="org.eclipse.m2m.atl.debug.core"
			delegateClass="org.eclipse.m2m.atl.debug.core.AtlWatchExpressionDelegate"/>
	</extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.m2m.atl.debug.core.AtlSourceLocator"
            id="AtlSourceLocator"
            name="ATL Source Locator">
      </sourceLocator>
   </extension>
   <extension
         id="atlBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
