<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Target Platform for latest">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/latest-R"/>
			<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
			<unit id="org.objectweb.asm" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/latest"/>
			<repository location="https://download.eclipse.org/eclipse/updates/latest/"/>
			<!-- <repository location="https://download.eclipse.org/modeling/emf/emf/builds/milestone"/>
			<repository location="https://download.eclipse.org/modeling/mdt/uml2/updates/milestones"/> -->
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.cdo.epp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
			<!-- <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/> -->
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/compare/updates/releases/1.2"/>
			<!-- unit id="org.eclipse.emf.compare.feature.group" version="1.2.2.v20120214-0915"/ -->
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>