<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.m2m.atl.engine"
   name="ATL Engine"
   version="2.0.0"
   provider-name="ATLAS"
   class="org.eclipse.m2m.atl.engine.EnginePlugin">

   <runtime>
      <library name="org.eclipse.m2m.atl.engine.jar">
         <export name="*"/>
      </library>
      <library name="lib/ebnfinjector.jar">
         <export name="*"/>
      </library>
      <library name="lib/antlr.jar">
         <export name="*"/>
      </library>
      <library name="lib/ATL-importer.jar"/>
      <library name="lib/ebnfextractor.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.m2m.atl.engine.vm" export="true"/>
      <import plugin="org.eclipse.m2m.atl.drivers.emf4atl" export="true"/>
   </requires>
   <extension-point id="modelhandler" name="ModelHandler" schema="schema/modelhandler.exsd"/>
   <extension-point id="atlcompiler" name="ATLCompiler" schema="schema/atlcompiler.exsd"/>


</plugin>
