<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="modelhandler" name="ModelHandler" schema="schema/modelhandler.exsd"/>
   <extension-point id="atlcompiler" name="ATLCompiler" schema="schema/atlcompiler.exsd"/>
   <extension-point id="injector" name="Injector" schema="schema/injector.exsd"/>


</plugin>
