<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.atl.engine.repositories.mdr4atl"
   name="MDR4ATL Plug-in"
   version="1.0.0"
   provider-name="ATLAS">
   <runtime>
      <library name="mdr4atl.jar">
         <export name="*"/>
      </library>
      <library name="lib/jmi.jar">
         <export name="*"/>
      </library>
      <library name="lib/jmiutils.jar">
         <export name="*"/>
      </library>
      <library name="lib/mdrapi.jar">
         <export name="*"/>
      </library>
      <library name="lib/mof.jar">
         <export name="*"/>
      </library>
      <library name="lib/nbmdr.jar">
         <export name="*"/>
      </library>
      <library name="lib/openide-util.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.atl.eclipse.engine"/>
   </requires>
   <extension
         point="org.atl.eclipse.engine.modelhandler">
      <modelhandler
            class="org.atl.engine.repositories.mdr4atl.AtlMDRModelHandler"
            name="MDR"/>
   </extension>

</plugin>
