<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.atl.engine.atlcompiler">
      <atlcompiler
            class="org.eclipse.m2m.atl.emftvm.compiler.AtlToEmftvmCompiler"
            name="emftvm">
      </atlcompiler>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.eclipse.m2m.atl.emftvm.compiler.AtlResourceFactoryImpl"
            contentTypeIdentifier="org.eclipse.m2m.atl">
      </parser>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="atl"
            id="org.eclipse.m2m.atl"
            name="ATL file format"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.m2m.atl.emftvm.compiler.AtlResourceFactoryImpl"
            type="atl">
      </parser>
   </extension>
</plugin>
