/AnyTest.asm
/BindingStatTest-out.ecore
/BindingStatTest.asm
/CyclicImportTest.asm
/DoubleCyclicImportTest.asm
/EcoreToXSD.asm
/Fibonacci.asm
/FibonacciASM.asm
/InheritanceTypeTest.asm
/InvokeStaticTest.asm
/LazyTest.asm
/MapTupleTest.asm
/MatchedRuleWithFilterAndAction.asm
/My.xsd
/NativeTest.asm
/PrimitiveTypeLazyRuleTest-out.ecore
/PrimitiveTypeLazyRuleTest-trace.xmi
/PrimitiveTypeLazyRuleTest.asm
/TestLib.asm
/TestQuery.asm
/ToStringTest.asm

/DSL2KM3.emftvm
/KM32DSL.emftvm
/DSLModel2KM2.emftvm
