<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.atl.eclipse.adt.editor"
   name="%productName"
   version="1.0.10"
   provider-name="%providerName"
   class="org.atl.eclipse.adt.ui.AtlUIPlugin">

   <runtime>
      <library name="editor.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.atl.eclipse.engine"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.atl.eclipse.adt.debug"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/atl_logo.gif"
            class="org.atl.eclipse.adt.ui.editor.AtlEditor"
            default="true"
            name="ATL Editor"
            contributorClass="org.atl.eclipse.adt.ui.editor.AtlEditorActionContributor"
            id="org.atl.eclipse.adt.ui.editor.AtlEditor"
            extensions="atl">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="ATL"
            class="org.atl.eclipse.adt.ui.preferences.AtlMainPreferencePage"
            id="org.atl.eclipse.adt.ui.preferences.AtlMainPreferencePage"/>
      <page
            name="Editor"
            category="org.atl.eclipse.adt.ui.preferences.AtlMainPreferencePage"
            class="org.atl.eclipse.adt.ui.preferences.AtlEditorPreferencePage"
            id="org.atl.eclipse.adt.ui.preferences.AtlEditorPreferencePage"/>
      <page
            name="Code assist"
            category="org.atl.eclipse.adt.ui.preferences.AtlEditorPreferencePage"
            class="org.atl.eclipse.adt.ui.preferences.AtlCodeAssistPreferencePage"
            id="org.atl.eclipse.adt.ui.preferences.AtlCodeAssistPreferencePage"/>
      <page
            name="Syntax"
            category="org.atl.eclipse.adt.ui.preferences.AtlEditorPreferencePage"
            class="org.atl.eclipse.adt.ui.preferences.AtlSyntaxPreferencePage"
            id="org.atl.eclipse.adt.ui.preferences.AtlSyntaxPreferencePage"/>
      <page
            name="Typing"
            category="org.atl.eclipse.adt.ui.preferences.AtlEditorPreferencePage"
            class="org.atl.eclipse.adt.ui.preferences.AtlTypingPreferencePage"
            id="org.atl.eclipse.adt.ui.preferences.AtlTypingPreferencePage"/>
   </extension>
   <extension point="org.eclipse.ui.decorators">
   	<decorator
          lightweight="true"
          objectClass="org.eclipse.core.resources.IResource"
          label="Atl problems decorator"
          class="org.atl.eclipse.adt.ui.viewsupport.ProblemsLabelDecorator"
          state="true"
          location="BOTTOM_LEFT"
          id="problemsLabelDecorator"> 
  	</decorator> 
  </extension>
  <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Comment block"
            visible="true"
            id="action.actionSet2">
         <menu
               label="ATL Editor"
               id="ATLEditorMenu">
            <separator name="sampleGroup"></separator>
         </menu>
         <action
               label="&amp;Comment block"
               icon="icons/sample.gif"
               class="org.atl.eclipse.adt.ui.actions.CommentBlock"
               menubarPath="ATLEditorMenu/sampleGroup"
               id="org.atl.eclipse.adt.ui.CommentBlock">
         </action>
      </actionSet>
      <actionSet
            label="Uncomment block"
            visible="true"
            id="action.actionSet3">
         <menu
               label="ATL Editor"
               id="ATLEditorMenu">
            <separator name="sampleGroup"></separator>
         </menu>
         <action
               label="&amp;Uncomment block"
               icon="icons/sample.gif"
               class="org.atl.eclipse.adt.ui.actions.UncommentBlock"
               menubarPath="ATLEditorMenu/sampleGroup"
               id="org.atl.eclipse.adt.ui.UncommentBlock">
         </action>
      </actionSet>
   </extension>
</plugin>
