<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/atl_logo.gif"
            class="org.eclipse.m2m.atl.adt.ui.editor.AtlEditor"
            default="true"
            name="ATL Editor"
            contributorClass="org.eclipse.m2m.atl.adt.ui.editor.AtlEditorActionContributor"
            id="org.eclipse.m2m.atl.adt.editor.AtlEditor"
            extensions="atl">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="ATL"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlMainPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlMainPreferencePage"/>
      <page
            name="Editor"
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlMainPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlEditorPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"/>
      <page
            name="Code assist"
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlCodeAssistPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlCodeAssistPreferencePage"/>
      <page
            name="Syntax"
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlSyntaxPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlSyntaxPreferencePage"/>
      <page
            name="Typing"
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlTypingPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlTypingPreferencePage"/>
   </extension>
   <extension point="org.eclipse.ui.decorators">
   	<decorator
          lightweight="true"
          objectClass="org.eclipse.core.resources.IResource"
          label="Atl problems decorator"
          class="org.eclipse.m2m.atl.adt.ui.viewsupport.ProblemsLabelDecorator"
          state="true"
          location="BOTTOM_LEFT"
          id="problemsLabelDecorator"> 
  	</decorator> 
  </extension>
<!--
  <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="Comment/Uncomment"
            visible="true"
            id="toggleComment">
         <menu
               label="ATL Editor"
               id="ATLEditorMenu">
            <separator name="sampleGroup"></separator>
         </menu>
         <action
               class="org.eclipse.m2m.atl.adt.ui.actions.ToggleCommentBlock"
               definitionId="org.atl.eclipse.adt.ui.commentBlock"
               icon="icons/atl_logo.gif"
               id="org.atl.eclipse.adt.ui.CommentBlock"
               label="Comment/Uncomment"
               menubarPath="ATLEditorMenu/sampleGroup">
            <selection
                  class="org.eclipse.core.resources.IFile"
                  name="*.atl"/>
         </action>
      </actionSet>
   </extension>
-->
<extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="com.xyz.xyzContribution" 
         targetID="org.eclipse.m2m.atl.adt.editor.AtlEditor">
         <menu
            id="ATLEditorMenu"
            label="ATL Editor"> 
            <separator name="group1"/> 
         </menu> 
<!--
            style="toggle"
            toolbarPath="Normal/additions"
            state="true" 
            tooltip="Toggle Comment"
            helpContextId="com.xyz.run_action_context" 
-->
         <action 
            definitionId="org.atl.eclipse.adt.ui.commentBlock"
            icon="icons/atl_logo.gif"
            id="org.atl.eclipse.adt.ui.CommentBlock"
            label="Comment/Uncomment"
            menubarPath="ATLEditorMenu/group1"
            class="org.eclipse.m2m.atl.adt.ui.actions.ToggleCommentBlock"> 
            <selection class="org.eclipse.core.resources.IFile" name="*.atl"/> 
         </action> 
      </editorContribution> 
   </extension>
<extension
point="org.eclipse.ui.bindings">
<key
commandId="org.atl.eclipse.adt.ui.commentBlock"
schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
sequence="Ctrl+Shift+C"/>
</extension>
<extension
point="org.eclipse.ui.commands">
<command
categoryId="org.atl.eclipse.adt.editor.category1"
id="org.atl.eclipse.adt.ui.commentBlock"
name="org.atl.eclipse.adt.editor.command1"/>
<category
id="org.atl.eclipse.adt.editor.category1"
name="org.atl.eclipse.adt.editor.category1"/>
</extension>
</plugin>
