<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.m2m.atl.adt.ui.editor.AtlEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="atl"
            icon="icons/atl_file.gif"
            id="org.eclipse.m2m.atl.adt.editor.AtlEditor"
            name="ATL Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="ATL"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlMainPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlMainPreferencePage"/>
      <page
            name="Editor"
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlMainPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlEditorPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"/>
      <page
            name="Code assist"
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlCodeAssistPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlCodeAssistPreferencePage"/>
      <page
            name="Syntax"
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlSyntaxPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlSyntaxPreferencePage"/>
      <page
            name="Typing"
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlTypingPreferencePage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlTypingPreferencePage"/>
      <page
            category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPreferencePage"
            class="org.eclipse.m2m.atl.adt.ui.preferences.AtlCodeFormatterPropertyPage"
            id="org.eclipse.m2m.atl.adt.editor.preferences.AtlCodeFormatterPreferencePage"
            name="Code Formatter">
      </page>
   </extension>
   <!-- TODO improve decorator
   <extension point="org.eclipse.ui.decorators">
   	<decorator
          lightweight="true"
          label="Atl problems decorator"
          class="org.eclipse.m2m.atl.adt.ui.viewsupport.ProblemsLabelDecorator"
          state="true"
          location="BOTTOM_LEFT"
          id="problemsLabelDecorator"> 
          <enablement>
                <objectClass name="org.eclipse.core.resources.IResource"/> 
          </enablement>
  	</decorator> 
  </extension>
  -->
	<extension point="org.eclipse.ui.bindings">
		<key
        commandId="atlCommands.commentBlock"
        contextId="org.eclipse.m2m.atl.adt.editor"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="Ctrl+Shift+C"/>
  <key
        commandId="atlCommands.gotoMatchingBracket"
        contextId="org.eclipse.m2m.atl.adt.editor"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="M1+M2+P">
  </key>
  <key
        commandId="atlCommands.openDeclaration"
        contextId="org.eclipse.m2m.atl.adt.editor"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="F3">
  </key>
  <key
        commandId="atlCommands.formatCode"
        contextId="org.eclipse.m2m.atl.adt.editor"
        schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
        sequence="M1+M2+F">
  </key>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command
			categoryId="atlCategory"
			id="atlCommands.commentBlock"
			name="ATL Command Comment Block"/>
  <command
        categoryId="atlCategory"
        id="atlCommands.gotoMatchingBracket"
        name="ATL Command Go to matching bracket">
  </command>
  <command
        categoryId="atlCategory"
        id="atlCommands.openDeclaration"
        name="ATL Open Declaration">
  </command>
		<category
			id="atlCategory"
			name="ATL Category"/>
  <command
        categoryId="atlCategory"
        id="atlCommands.formatCode"
        name="ATL Code Formatter Command">
  </command>
	</extension>
 <extension
       point="org.eclipse.ui.editors.templates">
    <contextTypeRegistry
          id="org.eclipse.m2m.atl.adt.editor.AtlEditor">
    </contextTypeRegistry>
    <include
          file="templates/structure.xml"
          translations="templates/structure.properties">
    </include>
    <include
          file="templates/patterns.xml"
          translations="templates/patterns.properties">
    </include>
    <include
          file="templates/iterators.xml"
          translations="templates/iterators.properties">
    </include>
    <contextType
          class="org.eclipse.m2m.atl.adt.ui.text.atl.AtlContextType"
          id="atl_context"
          name="ATL"
          registryId="org.eclipse.m2m.atl.adt.editor.AtlEditor">
    </contextType>
    <contextType
          class="org.eclipse.m2m.atl.adt.ui.text.atl.AtlContextType"
          id="module_context"
          name="ATL"
          registryId="org.eclipse.m2m.atl.adt.editor.AtlEditor">
    </contextType>
    <contextType
          class="org.eclipse.m2m.atl.adt.ui.text.atl.AtlContextType"
          id="query_context"
          name="ATL"
          registryId="org.eclipse.m2m.atl.adt.editor.AtlEditor">
    </contextType>
    <contextType
          class="org.eclipse.m2m.atl.adt.ui.text.atl.AtlContextType"
          id="library_context"
          name="ATL"
          registryId="org.eclipse.m2m.atl.adt.editor.AtlEditor">
    </contextType>
    <contextType
          class="org.eclipse.m2m.atl.adt.ui.text.atl.AtlContextType"
          id="rule_context"
          name="ATL"
          registryId="org.eclipse.m2m.atl.adt.editor.AtlEditor">
    </contextType>
    <contextType
          class="org.eclipse.m2m.atl.adt.ui.text.atl.AtlContextType"
          id="helper_context"
          name="ATL"
          registryId="org.eclipse.m2m.atl.adt.editor.AtlEditor">
    </contextType>
 </extension>
 
 	<extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             activate="true"
             class="org.eclipse.m2m.atl.adt.ui.text.AtlElementHyperlinkDetector"
             id="org.eclipse.m2m.atl.adt.editor.openDeclarationHyperlink"
             name="Atl Open Declaration"
             targetId="org.eclipse.m2m.atl.adt.editor.AtlEditorSource">
       </hyperlinkDetector>
    </extension>
    
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
       <target
             id="org.eclipse.m2m.atl.adt.editor.AtlEditorSource"
             name="Atl Editor">
          <context
                type="org.eclipse.m2m.atl.adt.ui.editor.AtlEditor">
          </context>
       </target>
    </extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             id="org.eclipse.m2m.atl.adt.editor"
             name="ATL editing context"
             parentId="org.eclipse.ui.textEditorScope">
       </context>
    </extension>          
    <extension
          point="org.eclipse.ui.editorActions">
       <editorContribution
             id="org.eclipse.m2m.atl.adt.editor.Coding"
             targetID="org.eclipse.m2m.atl.adt.editor.AtlEditor">
          <menu
                id="ATLEditorMenu"
                label="%ATLEditorMenu.label">
             <groupMarker
                   name="ATLGroup">
             </groupMarker>
          </menu>
          <action
                class="org.eclipse.m2m.atl.adt.ui.actions.ToggleCommentAction"
                definitionId="atlCommands.commentBlock"
                id="org.eclipse.m2m.atl.adt.ui.actions.ToggleComment"
                label="%CommentAction.label"
                menubarPath="ATLEditorMenu/ATLGroup">
          </action>
          <action
                class="org.eclipse.m2m.atl.adt.ui.actions.GotoMatchingBracketAction"
                definitionId="atlCommands.gotoMatchingBracket"
                id="org.eclipse.m2m.atl.adt.ui.actions.gotoMatchingBracket"
                label="%GoToMatchingBracketAction.label"
                menubarPath="ATLEditorMenu/ATLGroup">
          </action>
          <action
                class="org.eclipse.m2m.atl.adt.ui.actions.OpenDeclarationAction"
                definitionId="atlCommands.openDeclaration"
                id="org.eclipse.m2m.atl.adt.ui.actions.OpenDeclaration"
                label="%OpenDeclarationAction.label"
                menubarPath="ATLEditorMenu/ATLGroup">
          </action>
          <action
                class="org.eclipse.m2m.atl.adt.ui.actions.FormatCodeAction"
                definitionId="atlCommands.formatCode"
                id="org.eclipse.m2m.atl.adt.ui.actions.FormatCode"
                label="%FormatAction.label"
                menubarPath="ATLEditorMenu/ATLGroup">
          </action>
       </editorContribution>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             class="org.eclipse.m2m.atl.adt.ui.preferences.AtlMainPropertyPage"
             id="org.eclipse.m2m.atl.adt.editor.preferences.AtlPropertyPage"
             name="ATL">
       </page>
       <page
             category="org.eclipse.m2m.atl.adt.editor.preferences.AtlPropertyPage"
             class="org.eclipse.m2m.atl.adt.ui.preferences.AtlEditorPropertyPage"
             id="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPropertyPage"
             name="Editor">
       </page>
       <page
             category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPropertyPage"
             class="org.eclipse.m2m.atl.adt.ui.preferences.AtlTypingPreferencePage"
             id="org.eclipse.m2m.atl.adt.editor.preferences.AtlTypingPropertyPage"
             name="Typing">
       </page>
       <page
             category="org.eclipse.m2m.atl.adt.editor.preferences.AtlEditorPropertyPage"
             class="org.eclipse.m2m.atl.adt.ui.preferences.AtlCodeFormatterPropertyPage"
             id="org.eclipse.m2m.atl.adt.editor.preferences.AtlCodeFormatterPropertyPage"
             name="Code Formatter">
       </page>
    </extension>
</plugin>
