<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.atl.engine.repositories.emf4atl"
   name="EMF4ATL Plug-in"
   version="1.0.0"
   provider-name="ATLAS">

   <runtime>
      <library name="emf4atl.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.atl.engine.vm"/>
   </requires>

</plugin>
