<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


<!-- extension point : expression-->
	<extension point="org.eclipse.debug.core.watchExpressionDelegates">
		<watchExpressionDelegate
			debugModel="org.eclipse.m2m.atl.adt.debug"
			delegateClass="org.eclipse.m2m.atl.adt.debug.core.AtlWatchExpressionDelegate"/>
	</extension>
<!-- extension point : launch method is contained in this class-->
<!-- extension point : screen configuration for launching ATL transformation-->
<!-- extension point : debug model presentation-->
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.m2m.atl.adt.debug.ui.AtlDebugModelPresentation"
            id="org.eclipse.m2m.atl.adt.debug">
      </debugModelPresentation>
   </extension>
<!-- extension point : source locator -->
<!-- extension point : images for Atl launch configuration -->
<!-- extension point : new action in popup menu -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.debug.core.model.IDebugElement"
            id="pop.contribution1">
         <menu
               label="Debug mode"
               path="additions"
               id="pop.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Disassembly mode"
               style="toggle"
               class="org.eclipse.m2m.atl.adt.debug.ui.DisassemblyModeAction"
               menubarPath="pop.menu1/group1"
               enablesFor="1"
               id="pop.newAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.m2m.atl.adt.debug.core.DisassemblyDocumentProvider"
            inputTypes="org.eclipse.m2m.atl.adt.debug.ui.AtlDebugModelPresentation$DisassemblyEditorInput"
            id="org.eclipse.m2m.atl.adt.debug.provider1"/>
   </extension>

</plugin>
