<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="atlvm" name="ATL Virtual Machine" schema="schema/atlvm.exsd"/>

   <extension
         id="atlBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.m2m.atl.adt.debug.atlBreakpointMarker"
            class="org.eclipse.m2m.atl.adt.debug.core.AtlBreakpoint"
            id="atlBreakpoint">
      </breakpoint>
   </extension>
<!-- extension point : expression-->
	<extension point="org.eclipse.debug.core.watchExpressionDelegates">
		<watchExpressionDelegate
			debugModel="org.eclipse.m2m.atl.adt.debug"
			delegateClass="org.eclipse.m2m.atl.adt.debug.core.AtlWatchExpressionDelegate"/>
	</extension>
<!-- extension point : launch method is contained in this class-->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.m2m.atl.adt.launching.AtlLaunchConfigurationDelegate"
            id="org.eclipse.m2m.atl.adt.launching.atlTransformation"
            modes="run, debug"
            name="ATL Transformation">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.m2m.atl.adt.launching.RemoteAtlConfigurationDelegate"
            id="org.eclipse.m2m.atl.adt.launching.remoteAtlTransformation"
            modes="debug"
            name="Remote ATL Transformation">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.m2m.atl.adt.launching.RemoteAtlConfigurationDelegate"
            id="org.atl.eclipse.adt.launching.remoteAtlTransformation"
            modes="debug"
            name="Remote ATL Transformation (OLD)">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.m2m.atl.adt.launching.AtlLaunchConfigurationDelegate"
            id="org.atl.eclipse.adt.launching.atlTransformation"
            modes="run, debug"
            name="ATL Transformation (OLD)">
      </launchConfigurationType>
   </extension>
<!-- extension point : screen configuration for launching ATL transformation-->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.m2m.atl.adt.launching.atlTransformation"
            class="org.eclipse.m2m.atl.adt.launching.AtlTabGroup"
            id="AtlTabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.m2m.atl.adt.launching.RemoteAtlTabGroup"
            id="RemoteAtlTabGroup"
            type="org.eclipse.m2m.atl.adt.launching.remoteAtlTransformation">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.m2m.atl.adt.launching.AtlTabGroup"
            description="Present for OLD configurations"
            id="AtlTabGroup"
            type="org.atl.eclipse.adt.launching.atlTransformation">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.m2m.atl.adt.launching.RemoteAtlTabGroup"
            description="Present for OLD configurations"
            id="RemoteAtlTabGroup"
            type="org.atl.eclipse.adt.launching.remoteAtlTransformation">
      </launchConfigurationTabGroup>
   </extension>
<!-- extension point : debug model presentation-->
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.m2m.atl.adt.debug.ui.AtlDebugModelPresentation"
            id="org.eclipse.m2m.atl.adt.debug">
      </debugModelPresentation>
   </extension>
<!-- extension point : source locator -->
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="ATL Source Locator"
            class="org.eclipse.m2m.atl.adt.launching.sourcelookup.AtlSourceLocator"
            id="AtlSourceLocator">
      </sourceLocator>
   </extension>
<!-- extension point : images for Atl launch configuration -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/atllogo_icon.gif"
            configTypeID="org.eclipse.m2m.atl.adt.launching.atlTransformation"
            id="AtlApplication">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.m2m.atl.adt.launching.remoteAtlTransformation"
            icon="icons/atllogo_icon.gif"
            id="AtlRemoteApplication">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.atl.eclipse.adt.launching.atlTransformation"
            icon="icons/atllogo_icon_old.gif"
            id="AtlApplication">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.atl.eclipse.adt.launching.remoteAtlTransformation"
            icon="icons/atllogo_icon_old.gif"
            id="AtlRemoteApplication">
      </launchConfigurationTypeImage>
   </extension>
<!-- extension point : new action in popup menu -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.debug.core.model.IDebugElement"
            id="pop.contribution1">
         <menu
               label="Debug mode"
               path="additions"
               id="pop.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Disassembly mode"
               style="toggle"
               class="org.eclipse.m2m.atl.adt.debug.ui.DisassemblyModeAction"
               menubarPath="pop.menu1/group1"
               enablesFor="1"
               id="pop.newAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.m2m.atl.adt.debug.core.DisassemblyDocumentProvider"
            inputTypes="org.eclipse.m2m.atl.adt.debug.ui.AtlDebugModelPresentation$DisassemblyEditorInput"
            id="org.eclipse.m2m.atl.adt.debug.provider1"/>
   </extension>

</plugin>
