<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2009/09/29 12:39:56 wpiers Exp $
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://ATLProfiler" 
       class = "org.eclipse.m2m.atl.profiler.model.provider.ModelItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://ATLProfiler"
       class = "org.eclipse.m2m.atl.profiler.model.ModelPackage"
       genModel = "model/ATL-Profiler.genmodel" /> 
  </extension>

</plugin>
