body {
	//background: White;
	background: #FFFFFF;
	//color: Black;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	//font-size: x-small;
	font-size: 10pt;
	margin-bottom: 10;
}
h1 {
	//font-size: large;
	font-size: 18pt;
	margin-bottom: 1;
	margin-top: 5;
}
h2 {
	//font-size: medium;
	font-size: 14pt;
	margin-bottom: 3;
	margin-top: 25;
}
li {
	margin-bottom: 0;
	margin-top: 0;
	text-align: justify;
}
ol {
	margin-bottom: 10;
	margin-top: 0;
}
p {
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: justify;
}
p.related {
	//color: DarkSlateGray;
	color: #2F4F4F;
	font-size: small;
	font-weight: bolder;
}
pre {
	font-family: Courier, monospace;
	font-size: 9pt;
	margin-left: 6;
}
pre.code {
	//background-color: LiteGrey;
	background-color: #E3E3E3;
	font-family: sans-serif;
	margin: 30px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
table {
	border-width: thin;
	border-style: groove;
}
table.center {
	margin-left: auto;
	margin-right: auto;
}
td {
	border-width: thin;
	border-style: groove;
}
td.left {
	font-weight: bold;
	text-align: center;
	width: 20%;
}
td.right {
	text-align: left;
}
tr {
	border-width: thin;
	border-style: groove;
}
tr.top {
	font-weight: bold;
	text-align: center;
}
ul {
	margin-bottom: 10;
	margin-top: 0;
}
