<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/org.eclipse.m2m.atl.examples.public2private/transformation/Public2Private.atl"/>
<stringAttribute key="ATL VM" value="EMFVM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="true"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="UML"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="UML" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="UML" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="supportUML2Stereotypes" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="clearResourceSet" value="false"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="step" value="false"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="UML"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/org.eclipse.m2m.atl.examples.public2private/model/sample.uml"/>
<mapEntry key="OUT" value="/org.eclipse.m2m.atl.examples.public2private/model/sample-privatized.uml"/>
<mapEntry key="UML" value="uri:http://www.eclipse.org/uml2/2.1.0/UML"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
