<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMLaunchConfigurationDelegate"
            id="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformation"
            modes="run, debug"
            name="%launchConfigurationType.name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMLaunchConfigurationTabGroup"
            id="org.eclipse.m2m.atl.emftvm.launcher.launchConfigurationTabGroup"
            type="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformation">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMConsoleTracker"
            id="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMConsoleTracker"
            regex="\(\S*:\/\S*\)">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformation"
            icon="icons/obj16/emftvm_launch.gif"
            id="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformationImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.m2m.atl.core.launcher">
      <launcher
            class="org.eclipse.m2m.atl.emftvm.launcher.compat.EMFTVMUILauncher"
            name="EMFTVM">          
         <option
               description="Print execution times to console"
               mode="run"
               name="printExecutionTime"></option>
         <option
               description="Allow inter-model references"
               name="allowInterModelReferences"></option>
         <option
               description="Disable JIT compiler"
               name="disableJit"></option>
         <option
               description="Disassembly mode"
               mode="debug"
               name="disassemblyMode">
         </option>
         <option
               description="Stop in main"
               mode="debug"
               name="stopInMain">
         </option>
      </launcher>
   </extension>

</plugin>
