<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.uml"
            id="public2private">
            <action
               class="org.eclipse.m2m.atl.examples.public2private.ui.PrivatizeAction"
               enablesFor="1"
               id="org.eclipse.m2m.atl.examples.public2privateAction"
               icon="icons/atllogo_icon.gif"
               label="Privatize public fields">
         </action>
      </objectContribution>
  </extension>

</plugin>
