<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.atl.eclipse.adt.projectCreationWizard"
         point="org.eclipse.ui.newWizards">
      <category
            name="ATL"
            id="atlWizard">
      </category>
      <wizard
            name="ATL Project"
            icon="icons/atllogo_icon.gif"
            category="atlWizard"
            class="org.eclipse.m2m.atl.adt.wizard.atlproject.AtlProjectCreator"
            preferredPerspectives="org.atl.eclipse.adt.atlPerspective"
            finalPerspective="org.atl.eclipse.adt.atlPerspective"
            project="true"
            id="atlProjectWizard">
         <description>
            Create an ATL transformation project
         </description>
      </wizard>
      <wizard
            name="ATL File"
            icon="icons/atllogo_icon.gif"
            category="atlWizard"
            class="org.eclipse.m2m.atl.adt.wizard.atlfile.AtlFileWizard"
            preferredPerspectives="org.atl.eclipse.adt.atlPerspective"
            finalPerspective="org.atl.eclipse.adt.atlPerspective"
            project="true"
            id="atlFileWizard">
         <description>
            Create an ATL transformation file
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.m2m.atl.adt.startup.Startup">
      </startup>
   </extension>

</plugin>
