<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    	<!-- extension point: perspective -->
	<extension point="org.eclipse.ui.perspectives">
		<perspective
        	icon="icons/atl_logo.gif"
	        class="org.eclipse.m2m.atl.adt.perspective.AtlPerspective"
	        name="ATL"
	        id="org.eclipse.m2m.atl.adt.atlPerspective">
   		</perspective>
	</extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="org.eclipse.m2m.atl.adt.perspective.compatibility"
          label="ATL Compatibility Actions"
          visible="false">
       <menu
             id="ATLCompatibility"
             label="Compatibility">
          <separator
                name="compatibilityGroup">
          </separator>
       </menu>
       <action
             class="org.eclipse.m2m.atl.adt.perspective.compatibility.UpdateCompatibility"
             icon="icons/atl_logo.gif"
             id="org.eclipse.m2m.atl.adt.perspective.compatibility.UpdateCompatibility"
             label="&amp;Update compatibility"
             menubarPath="ATLCompatibility/compatibilityGroup"
             tooltip="Updates the ATL builder and configuration to versions up to 2.0.0RC2">
       </action>
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.m2m.atl.adt.atlPerspective">
       <actionSet
             id="org.eclipse.m2m.atl.adt.perspective.compatibility">
       </actionSet>
    </perspectiveExtension>
 </extension>
	
</plugin>
