<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    	<!-- extension point: perspective -->
	<extension point="org.eclipse.ui.perspectives">
		<perspective
        	icon="icons/atl_logo.gif"
	        class="org.eclipse.m2m.atl.adt.perspective.AtlPerspective"
	        name="ATL"
	        id="org.atl.eclipse.adt.atlPerspective">
   		</perspective>
	</extension>
	
</plugin>
