<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.m2m.atl.engine.vm.modelhandler">
      <modelhandler
            class="org.eclipse.m2m.atl.drivers.emf4atl.AtlEMFModelHandler"
            name="EMF">
      </modelhandler>
   </extension>

<!-- EMF 2.4 specific: removed for compatibility
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="resources/ATL.ecore"
            uri="http://www.eclipse.org/gmt/2005/ATL">
      </resource>
      <resource
            location="resources/OCL.ecore"
            uri="http://www.eclipse.org/gmt/2005/OCL">
      </resource>
      <resource
            location="resources/PrimitiveTypes.ecore"
            uri="http://www.eclipse.org/gmt/2005/PrimitiveTypes">
      </resource>
      <resource
            location="resources/Problem.ecore"
            uri="http://www.eclipse.org/gmt/2005/Problem">
      </resource>
   </extension>
  -->
</plugin>
